/* Desktop et tablette */
@media only screen and (min-width:768px){
    .search {
        height: 226px;
    }
    .section_function {
        align-items: center;
        .list_function {
            justify-content: space-around;
            flex-direction: unset;
            margin-left: 0;
        }
    }
    .section_title {
        margin-left: 0;
    }
    .section_restaurant {
        align-items: center;
        .list_restaurants {
            flex-direction: row;
        }
    }
    .menu {  
        .block_menu {
            h2 {
                margin: 9px;
            } 
            .block_choise {
                flex-direction: row;
                gap: 2%;
                .choise_menu {
                    height: 73px;
                }
            }
        }
    }

    .btn-order {
        margin: 20px auto;
    }

    footer {
        h3 {
            align-self: center;
        }
        .block_link_footer {
            flex-direction: row;
            gap: 23%;
        }
    }
}