/*--- Mixins ---*/
@mixin headers {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    box-shadow: 0 0 5px 0;
}

@mixin logos {
    height: 30px;
    margin: 20px;
}

@mixin hover-btn {
    background: lighten($color-secondary, 2%);
    box-shadow: 4px 6px 10px $color-text;
    transition: 500ms;
}