/*--- Variables ---*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg: #F6F6F6;
$color-text: #1A1A1A;
$color-figure: #7E7E7E;
$color-location: #DDDDDD;
$color-text-button: #FFFFFF;
$color-new: #008000;
$color-footer: #353535;
$gradient: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);